@mixin media-lg {
    @media screen and (max-width: 1024px) and (max-width: 1600px){
        @content;
    }
  }

@include media-lg{
    .open_nav{
        display: none;
      }
    
      .hide_nav{
        display: block;
    
        .close{
          background-color: #fff;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          flex-direction: row;
          padding: 1rem;
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
          z-index: 2;

          .menu{
            cursor: pointer;
            .burger_open{
              &.show{
                display: none;
                
              }
            }
    
            .burger_close{
              display: none;
    
              &.open{
                display: block;
              }
            }
          }
        }

        .menu-nav{
          background: #fff;
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          text-align: center;
          padding: 2rem 4rem 2rem 4rem;
          z-index: 2;
          position: absolute;
          left: 3rem;
          right: 3rem;
          top: 5rem;
          display: none;


          &__item{
            list-style: none;
            margin: 15px;
          }

          &__link{
            text-decoration: none;
            outline: none;
            color: $DarkBlue;
          }
        }
      }
      
  .container {
    background: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right top;
    flex-direction: row-reverse;

    &__texts {
    
        h1 {
            margin-top: 2rem;
          font-size: 1.5rem;
        }
        p{
            font-size: 15px;
        }
        }
    }

    .main {
        .main__entry {
          text-align: center;
      
          .text-secondary {
           text-align: center;
          }
        }
        .services__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
        }
      }

      .section {
  
        &__text {
          text-align: center;
      
          .text-primary {
            font-size: 2rem;
          }
        }
        .articles {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
    
            &__list {
               margin-top: 20px;
    
               .texts {
        
                h6 {
                  font-size: 10px;
                }
                .big {
                  font-size: 1.5rem;
                }
              }
            }
        }
    }
}  

// SHOW AND CLOSE
.show{
  display: block;
}
.close{
  display: none;
}