@mixin media-sm {
    @media screen and (max-width:768px){
        @content;
    }
}

@include media-sm{
  .open_nav{
    display: none;
  }

  .hide_nav{
    display: block;
    width: 100vw;

    .close{
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 1rem;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      z-index: 2;

      .menu{
        cursor: pointer;
        .burger_open{
          &.show{
            display: none;
          }
        }

        .burger_close{
          display: none;

          &.open{
            display: block;
          }
        }
      }
    }

    .menu-nav{
      background: #fff;
      box-shadow: 0 3px 5px rgba(0, 0, 1, 0.4);
      text-align: center;
      padding: 2rem 4rem 2rem 4rem;
      position: absolute;
      left: 3rem;
      right: 3rem;
      top: 5rem;
      display: none;

      &__item{
        list-style: none;
        margin: 10px;
      }

      &__link{
        text-decoration: none;
        outline: none;
        color: $DarkBlue;
      }
    }
  }
    .container {
        background: url("../images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100vw;
        background-position: right top;
        flex-direction: column;
        width: 100vw;

        &__texts {
        
            h1 {
              font-size: 1.5rem;
            }
    }
    &__img {
        img {
          margin: 0 2rem;
        }
      }
}

.main {
    .main__entry {
      text-align: center;
  
      .text-secondary {
       text-align: center;
      }
    }
    .services__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }

.section {
  
    &__text {
      text-align: center;
  
      .text-primary {
        font-size: 2rem;
      }
    }
    .articles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 5px;

        &__list {
           margin-top: 20px;

           .texts {
    
            h6 {
              font-size: 10px;
            }
            .big {
              font-size: 1rem;
              margin-top: 10px;
            }
            .small {
              font-size: 13px;
            }
          }
        }
    }
}

footer {

    .footer {
      flex-direction: column;

      .ul__list {

        .ul_move{
            margin-left: 2rem;
        }
    }

    .menu_btn{
        margin-top: 10rem;
    }
}
}
}