@mixin media-lg {
    @media screen and (max-width: 1024px) and (max-width: 1600px){
        @content;
    }
  }

@include media-lg{
  .container {
    background: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right top;
    flex-direction: row-reverse;

    &__texts {
    
        h1 {
            margin-top: 2rem;
          font-size: 1.5rem;
        }
        p{
            font-size: 15px;
        }
        }
    }

    .main {
        .main__entry {
          text-align: center;
      
          .text-secondary {
           text-align: center;
          }
        }
        .services__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
        }
      }

      .section {
  
        &__text {
          text-align: center;
      
          .text-primary {
            font-size: 2rem;
          }
        }
        .articles {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
    
            &__list {
               margin-top: 20px;
    
               .texts {
        
                h6 {
                  font-size: 10px;
                }
                .big {
                  font-size: 1.5rem;
                }
              }
            }
        }
    }
}  