@import "./config";

nav {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px;
  margin: 2px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;

  .menu{
      visibility: hidden;
  }
  img {
    height: 20px;
    margin: 20px;
  }

  .menu-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-right: 7rem;
    overflow: hidden;

    &__item {
      margin: 20px 20px;
    }

    &__link {
      text-decoration: none;
      color: $GrayishBlue;

      &:hover {
        color: $DarkBlue;
      }

      &::after {
        content: "";
        position: absolute;
        background-color: $LimeGreen;
        height: 3px;
        width: 49px;
        display: flex;
        flex-direction: row;
        top: 3rem;
        overflow: hidden;
        opacity: 0;
      }
      &:hover::after {
        transform: translateY(-15px);
        top: 4.7rem;
        opacity: 1;
        transition: 0.3s;
      }
    }
  }

  .menu_btn {
    height: 2.5rem;
    margin: 12px 0 12px 0;
    font-size: 15px;
    border: none;
    color: #fff;
    border-radius: 25px;
    padding: 5px 20px 5px 20px;
    background-image: linear-gradient(to right, $LimeGreen, $BrightCyan);
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

    &:active {
      transition: all 0.5s ease-in-out;
      transform: translateY(10px);
    }
  }
}

.container {
  background: url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right top;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  &__texts {
    color: $DarkBlue;
    margin: 0 0 0 2rem;

    h1 {
      font-size: 4rem;
      margin: 0 2rem 0.5rem;
    }
    p {
      margin: 0 2rem 0.5rem;
    }

    button {
      margin: 5px 2rem 3rem;
      font-size: 15px;
      border: none;
      color: #fff;
      border-radius: 25px;
      padding: 15px 25px 15px 25px;
      background-image: linear-gradient(to right, $LimeGreen, $BrightCyan);
      cursor: pointer;
      outline: none;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

      &:active {
        transition: all 0.5s ease-in-out;
        transform: translateY(10px);
      }
    }
  }

  &__img {
    img {
      height: auto;
      width: 80%;
      float: right;
    }
  }
}

.main {
  overflow: hidden;
  background: $LightGrayishBlue;
  color: $DarkBlue;

  .main__entry {
    padding: 4rem;

    .text-primary {
      font-size: 2rem;
      margin-bottom: 10px;
    }

  }
  .services__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    padding: 0 5rem 5rem 5rem;

    .services__item {
        .yeah{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
        }
      .services__texts {
    
        h2 {
          margin: 20px 0 10px;
          text-align: center;
        }
        p{
            text-align: center;
            font-size: 0.9rem;
        }
      }
    }
  }
}

.section {
  overflow: hidden;
  color: $DarkBlue;
  background: $VeryLightGray;

  &__text {
    padding: 4rem;

    .text-primary {
      font-size: 2rem;
    }
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 0 5rem 5rem 5rem;

    &__list {
      background: #fff;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      border-radius: 5px;

      img {
        width: 100%;
        height: 200px;
      }
      .texts {
        padding: 10px 10px 10px 10px;

        h6 {
          font-size: 10px;
        }
        .big {
          font-size: 1.5rem;
          margin-top: 10px;
          cursor: pointer;

          &:hover {
            color: $LimeGreen;
            transition: all 0.3s ease-in-out;
          }
        }
        .small {
          font-size: 14.5px;
          margin-top: 10px;
        }
      }
    }
  }
}

footer {
  background: $DarkBlue;
  padding: 4rem 4rem 0 4rem;
  color: #fff;

  ul {
    list-style: none;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    &__list {
      .footer-img {
        margin-top: 20px;

        img {
          margin: 3px;
          cursor: pointer;

          &:hover {
            background: $LimeGreen;
          }
        }
      }
    }

    .ul__list {
      li {
        margin: 5px;
        cursor: pointer;

        &:hover {
          color: $LimeGreen;
          transition: all 0.3s ease-in-out;
        }
      }
      .menu_btn {
        margin: 20px 2rem;
        float: right;
        font-size: 15px;
        border: none;
        color: #fff;
        border-radius: 25px;
        padding: 15px 25px 15px 25px;
        background-image: linear-gradient(to right, $LimeGreen, $BrightCyan);
        cursor: pointer;
        outline: none;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

        &:active {
          transition: all 0.5s ease-in-out;
          transform: translateY(10px);
        }
      }
      p {
        font-size: 13px;
        margin: 2rem 0 0 2rem;
      }
    }
  }
  .attribution {
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: $LimeGreen;
    font-size: 12px;
  }
}
 @import './_responsive';